.cabecalho {
  background-color: #0066cc;
  padding: 1rem;
}

.cabecalho__nav {
  display: flex;
  justify-content: center;
}

.cabecalho__ul {
  display: flex;
  gap: 1.5rem;
}

.cabecalho__ul li a {
  color: #fff;
  font-weight: bold;
}

.cabecalho__ul li a.active {
  text-decoration: underline;
}