.conteudo__container{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:5rem;
  max-width:110rem;
  margin:2rem auto;
  padding:0 1rem;
}
.conteudo__contato{
  display:grid;
  grid-template-columns:1fr;
  gap:5rem;
  max-width:110rem;
  margin:2rem auto;
  padding:0 1rem;
}
.conteudo__sec{
  background:#fff;
  padding:1.4rem;
  border-radius:0.8rem;
  box-shadow:0 0.6rem 1.2rem rgba(0,0,0,0.06);
}
.conteudo__tit{
  font-size:2rem;
  margin-bottom:0.8rem;
  color:var(--cor-primaria);
}
.conteudo__txt{
  font-size:1.6rem;
  color:#444;
  line-height:1.6;
}
.conteudo__img{
    width:100%;
    max-width:20rem;
    border-radius:10%;
    margin-bottom:1rem;
    display:block;
}
@media (max-width:1024px){
  .conteudo__container{
    grid-template-columns:repeat(2,1fr);
  }
  .conteudo__contato{
    grid-template-columns:repeat(2,1fr);
  }
}
@media (max-width:600px){
  .conteudo__container{
    grid-template-columns:1fr;
  }
  .conteudo__contato{
    grid-template-columns:1fr;
  }
}